@model ChangePasswordModel
@{
    ViewData["title"] = "Change Password";
}

<form method="post">
    <div class="mb-3">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" type="password" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    <div class="mb-3">
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Change Password</button>
</form>
